{% extends "base.html" %}
{% block header %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background: #202020">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <hr class="small">
                    <span class="subheading">
                    Who I am and what I do.
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}

<p>
    <img class="alignright"
         src="/static/img/headshot.jpg"
         alt="headshot"
         width="199"
         height="300"
    />

    My name is Phillip Lemons, and I am a software engineer currently working
    at SparkCognition. I graduated in December 2016 from the University of
    Texas at Austin with a bachelor's degree in Electrical Engineering. This
    is my little section of the internet where I explore the vast fields of
    software engineering and mathematics. Algorithms, open source projects,
    new technologies, and my personal projects are all fair game for techical
    articles here. I find writing to be one of the best ways to learn a new
    subject, so I created a blog to do just that, and who knows, maybe someone
    will find something on here interesting or useful one day.
</p>

<p>
    If you want to know more about my technical expertise, I have experience
    working with Python, Javascript, Java, HTML, CSS, and some C/C++. I have
    also worked with ReactJS, Flask, Google AppEngine, and JQuery. My technical
    interests include math, artificial intelligence, and web development. To
    see my personal projects, you can visit my
    <a href="https://github.com/lemonade512">Github account</a>. My
    <a href="https://www.linkedin.com/in/phillip-lemons-8006b177">LinkedIn account</a>
    is the place to go to see my past work experience.
</p>

<p>
    In my free time I like to cook, ballroom dance, and play board games. I
    also will occasionally play games on the HTC Vive or my desktop computer.
</p>

{% endblock %}
