{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-preview">
            <a href="/posts/task-management">
                <h2 class="post-title">
                    Task Management
                </h2>
                <h3 class="post-subtitle">
                    My personal opinions and experiences about managing your
                    time as an engineer or compute scientist.
                </h3>
            </a>
            <p class="post-meta">Posted by <a href="/about">Phillip Lemons</a> on October 3, 2015</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="/posts/no-cheating-allowed">
                <h2 class="post-title">
                    No Cheating Allowed!!!
                </h2>
                <h3 class="post-subtitle">
                    Khan Academy's answer to student's cheating on interactive
                    exercises.
                </h3>
            </a>
            <p class="post-meta">Posted by <a href="/about">Phillip Lemons</a> on August 18, 2015</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="/posts/ray-casting-algorithm">
                <h2 class="post-title">
                    Ray Casting Algorithm
                </h2>
                <h3 class="post-subtitle">
                    An algorithm for determining whether a point is inside a
                    polygon. This is useful for applications ranging from
                    computer graphics to autonomous vehicles.
                </h3>
            </a>
            <p class="post-meta">Posted by <a href="/about">Phillip Lemons</a> on September 14, 2014</p>
        </div>
        <!-- Pager -->
        <!--
        <ul class="pager">
            <li class="next">
                <a href="#">Older Posts &rarr;</a>
            </li>
        </ul>
        -->
    </div>
</div>
{% endblock %}
