{% extends "post.html" %}

{% block post_title %}
No Cheating Allowed!!!
{% endblock %}

{% block post_subtitle %}
Khan Academy's answer to students cheating on interactive exercies.
{% endblock %}

{% block content %}
<p>
    For the past 3 months I have been interning at Khan Academy in Mountain
    View, California. It has been such a great experience and I am very glad
    to have had the opportunity to work with so many wonderful people! Today I
    even got to publish a blog post about one of my projects to the KA
    Engineering blog. You can read it by following
    <a href="http://engineering.khanacademy.org/posts/no-cheating-allowed.htm">this link</a>.
</p>
{% endblock %}

