{% extends "base.html" %}
{% block header %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background: #202020">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{% block post_title %}{%endblock %}</h1>
                    <hr class="small">
                    <span class="subheading">
                        {% block post_subtitle %}{% endblock %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

